body {
    font-family: 'Nunito-Bold', 'Nunito-Regular';
    color: #eee;
    background-image: url('../images/backgroun.png');
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
}

.profil {
    width: 400px;
    height: 100%;
    background:none; /* Ajoutez une couleur de fond semi-transparente à la classe profil */
    position: fixed;
    left: 0;
    top: 0;
    overflow: hidden;
}
.menu,ul{
    list-style: none;
    padding: 25px;
}
.menu,ul,li{
    padding: 20px;
    
}

li, a:hover{
    color: gold;
    
}

a{
    text-decoration: none;
}
.contenue {
    margin-left: 400px;
    padding: 20px;
    width: calc(100% - 400px);
    height: 100%;
    overflow-y: auto;
}
.titre{
    margin-top: 10px;
    padding: 10px;
    background-color: #7e7c7c70;
    border-radius: 5px;
    color: rgb(228, 96, 48);
}

.profilDetails {
    display: flex;
    align-items: flex-start; /* Aligne les éléments au début pour les aligner verticalement */
    margin: 20px 20px;
  
}

.photoDeProfil{
    width: 17rem;
    height:20rem;
    border-radius: 10px;
    border: 1px solid blue;
}

.information {
    flex: 1;
}

.profilimage {
    flex: 0 0 auto; /* Permet à l'image de conserver sa taille intrinsèque */
    margin-left: 10px; /* Un espacement optionnel entre le texte et l'image */
}