@font-face {
    font-family: 'Nunito-Bold';
    src: url(./fonts/Nunito/static/Nunito-Bold.ttf);
}
@font-face {
    font-family: 'Nunito-Regular';
    src: url(./fonts/Nunito/static/Nunito-Regular.ttf);
}

body{
    background-image: url('../images/backgroun.png');
    width: 100%;
    height: 100%;
}
.main{
    color: red;
    font-family: 'Nunito-Bold', 'Nunito-Regular';
}